<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Catalogo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let categoria of getCategorias()">
    <ion-card-header>
      <ion-card-title class="ion-text-center" color="dark">
        {{categoria}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" *ngFor="let item of getProductosPorCategoria(categoria)">
            <ion-card>
              <img [src]="item.foto" />
              <ion-card-header>
                <ion-card-title color="dark">{{ item.nombre }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p color="dark">{{ item.descripcion }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>